<a href="https://colab.research.google.com/github/timetoshine17/Beginner-for-Python/blob/main/practice/CodeUp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://codeup.kr/problem.php?id=6065

6065 : [기초-조건/선택실행구조] 정수 3개 입력받아 짝수만 출력하기(설명)(py)

본 문제는 python 의 빠른 기초 학습을 위해 설계된 문제로서 python 코드 제출을 기준으로 설명되어 있습니다.
------

3개의 정수(a, b, c)가 입력되었을 때, 짝수만 출력해보자.

예시
a, b, c = input().split()

a = int(a)
b = int(b)
c = int(c)

if a%2==0 :  #논리적으로 한 단위로 처리해야하는 경우 콜론(:)을 찍고, 들여쓰기로 작성 한다.
  print(a)

if b%2==0 :
  print(b)

if c%2==0 :
  print(c)

참고
if 조건식 :
  실행1  #조건식의 평가값이 True 인 경우 실행시킬 명령을 들여쓰기를 이용해 순서대로 작성한다.
  실행2
실행3  #들여쓰기를 하지 않은 부분은 조건식에 상관이 없음

python 에서는 논리적 실행단위인 코드블록(code block)을 표현하기 위해 들여쓰기를 사용한다.
들여쓰기 방법은 탭(tab), 공백(space) 4개 등 여러 가지 방법을 사용할 수 있지만
한 소스코드 내에서 들여쓰기 길이와 방법은 똑같아야 한다.

a%2==0 은 (a%2)가 먼저 계산된 후 그 결과를 정수 0과 비교한 결과값이다.
a를 2로 나눈 나머지가 0, 즉 짝수이면 True 가 되고, 아니면 False 로 계산된다.
따라서,
if a%2==0 : #a가 짝수라면 ...
와 같은 의미가 된다. 짝수가 아니라면 들여쓰기로 작성된 부분들은 실행되지 않는다.

In [11]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
0<=a<=2147483647
0<=b<=2147483647
0<=c<=2147483647

n = [a, b, c]
n = [i for i in n if i%2 == 0]
t = " ".join(map(str,n)) #map 변환 함수, join 문자열 리스트를 하나의 문자열로 합침
print(t)

1 2 4
2 4

6066 : [기초-조건/선택실행구조] 정수 3개 입력받아 짝/홀 출력하기(설명)(py)

3개의 정수(a, b, c)가 입력되었을 때, 짝(even)/홀(odd)을 출력해보자.

예시
...
if a%2==0 :
  print("even")
else :
  print("odd")
...

참고
if 조건식 :  #조건식을 평가해서...
  실행1      #True 인 경우 실행시킬 명령들...
  실행2
else :        
  실행3      #False 인 경우 실행시킬 명령들...
  실행4
실행5       #조건식과 상관없는 다음 명령
...

else 는 if 없이 혼자 사용되지 않는다.
또한, else 다음에는 조건식이 없는 이유는? True(참)가 아니면 False(거짓)이기 때문에...
조건식의 평가 결과는 True 아니면 False 로 계산되기 때문이다.

python 에서는 들여쓰기를 기준으로 코드블록을 구분하므로, 들여쓰기를 정확하게 해주어야 한다.

In [12]:
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
0<=a<=2147483647
0<=b<=2147483647
0<=c<=2147483647

n = [a, b, c]
for i in n:
  if i%2 ==0:
    print("even")
  else:
    print("odd")

1 2 8
odd
even
even

정수 1개가 입력된다.
-2147483648 ~ +2147483647, 단 0은 입력되지 않는다.

음수이면서 짝수이면, A

음수이면서 홀수이면, B

양수이면서 짝수이면, C

양수이면서 홀수이면, D

In [14]:
i = int(input())
if i == 0:
  print('error')
elif i<0 and i %2 ==0:
  print('A')
elif i>0 and i %2 ==0:
  print('C')
elif i<0 and i %2 !=0:
  print('B')
elif i>0 and i %2 !=0:
  print('D')

0
error

친구들과 함께 3 6 9 게임을 하던 영일이는 잦은 실수 때문에 계속해서 벌칙을 받게 되었다.
3 6 9 게임의 왕이 되기 위한 369 마스터 프로그램을 작성해 보자.

** 3 6 9 게임은?
여러 사람이 순서를 정한 후, 순서대로 수를 부르는 게임이다.
만약 3, 6, 9 가 들어간 수를 자신이 불러야 하는 상황이라면, 수를 부르는 대신 "박수(X)" 를 쳐야 한다.
33과 같이 3,6,9가 두 번 들어간 수 일때, "짝짝"과 같이 박수를 두 번 치는 형태도 있다.

참고
...
for i in range(1, n+1) :
  if i%10==3 :
    print("X", end=' ')    #출력 후 공백문자(빈칸, ' ')로 끝냄
...

입력
30 보다 작은 정수 1개가 입력된다.
(1 ~ 29)

출력
1 부터 그 수까지 순서대로 공백을 두고 수를 출력하는데,
3 또는 6 또는 9가 포함 되어있는 수인 경우, 그 수 대신 영문 대문자 X 를 출력한다.

In [22]:
a= int(input())

0<a<30

for i in range(1, a+1):
  if '3' in str(i) or '6' in str(i) or '9' in str(i):
            print('X', end=' ')
  else:
    print(i, end=' ')

#print는 기본적으로 산출 후 엔터를 삽입한다. end=' '를 쓰면 공백을 추가하고 산출값을 이어갈 수 있다.

29
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X