<a href="https://colab.research.google.com/github/timetoshine17/Beginner-for-Python/blob/main/practice/%EC%98%88%EC%A0%9C1_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[링크 텍스트](https://wikidocs.net/7014)의 책에 나온 예제를 풀이하였습니다.

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [8]:
print("신씨가 소리질렀다. \"도둑이야\".") #\"를 이용해도 가능하다.
print('신씨가 소리질렀다. "도둑이야".') #작은따옴표와 큰따옴표의 적절한 이용

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

In [9]:
print("C:\Windows")

C:\Windows

In [10]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈을, \t는 탭을 표기한다.

안녕하세요.
만나서		반갑습니다.

In [11]:
print ("오늘은", "일요일")
#오늘은 공백 일요

오늘은 일요일

In [14]:
print('naver', 'kakao','sk', 'samsung', sep=';')
#sep은 print함수에서 각 출력 항목 사이에 삽입될 문자열을 지정하는 것. 기본값은 공백임.

naver;kakao;sk;samsung

In [15]:
print('naver', 'kakao','sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [18]:
print("first");print("second") #';'는 한 줄에 여러 개의 명령을 작성하기 위해 사용된다.
print("first", end=""); print("second") #end는 print함수 실행 이후 \n을 다른 문자열로 대체한다.
print("first", end=" "); print('second')

first
second
firstsecond
first second

In [21]:
def divide(a,b):
  return(a/b)

divide(5,3)

1.6666666666666667

In [25]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액,'원', sep='')

500000원

In [30]:
s = "hello"
t = "python"
print(s + '!', t)

hello! python

In [31]:
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [32]:
#type 함수

a = '132'
print(type(a))

<class 'str'>

In [33]:
 num_str = "720"
 print(int(num_str))

720

In [34]:
num = 100
print(str(num))

100

In [37]:
a = '15.79'
print(float(a))

15.79

In [38]:
from datetime import datetime
current_year = datetime.now().year

for year in range(current_year -2, current_year +1):
  print(year)

2022
2023
2024

In [39]:
def selling(a,b):
  print(a*b)

a = 48584
b = 36

selling(a,b)

1749024