<a href="https://colab.research.google.com/github/timetoshine17/Beginner-for-Python/blob/main/SN/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = [1,2,3,4]
for i in a:
  print(i)

1
2
3
4

In [3]:
a = [1,2,3,4]
for i in range(len(a)) :
  print(a[i])

# i는 0-3까지를 반복한다.
# a[0], a[1], a[2], a[3]이 된다.

1
2
3
4

In [4]:
a = ['a', 'b', 'c', 'd']
for i in a:
  print(i)

a
b
c
d

In [5]:
a = 0
if a == 0:
  print(a)
else:
  print(a+1)

0

In [6]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)
# i는 1-2까지 반복된다. j는 3-4까지 반복된다.
# i가 1일 때, j는 3,4를 산출한다. 2을 때도 마찬가지이다.

3
4
6
8

In [7]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)
# i는 1,2 반복. j는 3,4반복.
# j가 4일때 조건문이 성립함. 따라서 1일때 4, 2일때 8로 산출됨.

4
8

In [8]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

#해당 코드는 i/for i in a/ if i>=2로 나눠서 보면 해석 가능

[2, 3, 4]

In [9]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']